.selected-items {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    min-height: 40px;
    position: relative;
    justify-content: flex-start; 
  }


.select-container {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: Arial, sans-serif;
  }
  
  
  
  .selected-item {
    align-items: center;
    padding: 10px;
    margin: 2px;
    background-color: #007BFF;
    border-radius: 13px;
    color: white;
    display: flex;
  }

  .selected-item .remove {
    margin-left: 5px;
    cursor: pointer;
    padding: 3px 6px;
    background-color: #e0d4d4;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    transition: background-color 0.2s;
  }
  
  .selected-item .remove:hover {
    color: #2c2c2c;
  }
  
  .placeholder {
    padding: 10px;
    color: #aaa;
  }

  .dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    transition: transform 0.2s;
  }
  
  .dropdown-arrow.open {
    transform: translateY(-50%) rotate(180deg);
  }
  
  
  .clear-button{
    margin-right: 30px;
    
  }
  
  .remove{
    color: red;
  }